.container
{
    margin-bottom: 100px;
}
.slide-bg
{
    background: #fceae8;
    border-radius: 8px;
}

.carousel-item
{
    padding:20px 80px;
}

.price-clore
{
     color:#FF136F;
}

.button-bg
{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #FFF;
    padding: 9px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.cat1
{
    background-image: linear-gradient(to left, orange 0%, rgb(255, 136, 0) 100%);
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cat2
{
    background-image: linear-gradient(to left, orchid 0%, rgb(231, 94, 186) 100%);
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cat3
{
    background-image: linear-gradient(to left, blue 0%, rgb(118, 52, 224) 100%);
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cat1 , .cat2 , .cat3 h1
{
    color:#fff;
}

.categories img
{
  width:100px;
}


.card
{
    border: none;
    box-shadow: 10px 10px 10px lightgray;
}

.sub
{
    text-align: center;
}

footer
{
 text-align: center;
}