.container
{
    margin-bottom: 100px;
}
.slide-bg
{
    background: #fceae8;
    border-radius: 8px;
}

.carousel-item
{
    padding:20px 80px;
}

.price-clore
{
     color:#FF136F;
}

.button-bg
{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #FFF;
    padding: 9px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}